* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body {
  background: linear-gradient(to right, #fef6f9, #fff0f6);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
}
.container {
  width: 100%;
  max-width: 400px;
  background: rgba(244, 206, 144, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
h1 {
  text-align: center;
  color: #a1612c;
  margin-bottom: 20px;
  font-weight: 600;
}
.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
input[type="text"] {
  flex: 1;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #e4dadf;
  outline: none;
  font-size: 16px;
}
.add-btn {
  padding: 10px 15px;
  background-color: #e2795b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.add-btn:hover {
  transform: scale(1.05);
}
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.progress-label {
  font-size: 14px;
  color: #090505;
}
.progress-bar {
  background: #eee;
  height: 12px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
.progress {
  height: 100%;
  background: linear-gradient(to right, #b85c06, #d99220);
  width: 0%;
  transition: width 0.4s ease;
  border-radius: 20px;
}
ul {
  list-style: none;
}
li {
  background: rgb(236, 229, 229);
  padding: 12px 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
li.completed span {
  text-decoration: line-through;
  color: rgb(112, 87, 87);
}
.badge {
  font-size: 12px;
  padding: 3px 8px;
  background-color: #ffe3e9;
  color: #a65c68;
  border-radius: 12px;
  margin-left: 10px;
  user-select: none;
}
.badge.priority {
  color: white; 
  font-weight: 600;
}
.badge.priority.high {
  background-color: #e17589;
}
.badge.priority.medium {
  background-color: #ffa500;
}
.badge.priority.low {
  background-color: #4caf50;
}
.delete-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #ff6b81;
  transition: transform 0.2s;
  user-select: none;
}
.delete-btn:hover {
  transform: scale(1.2);
}
.empty-state {
  text-align: center;
  color: #4b4242;
  margin-top: 20px;
  user-select: none;
}